{%- assign level = include.level -%}

{%- unless level -%}
  {%- assign level = 1 -%}
  {%- if page.title -%}
    {%- assign level = level | plus: 1 -%}
  {%- endif -%}
  {%- if page.list_title -%}
    {%- assign level = level | plus: 1 -%}
  {%- endif -%}
{%- endunless -%}

{%- if doc.title   and doc.title != blank
   and doc.excerpt and doc.excerpt != blank
   and site.show_excerpts -%}
  {%- assign sectionorarticle = 'article' -%}
  {%- capture schema -%}
    {%- case doc.collection -%}
      {%- when 'posts' -%} BlogPosting
      {%- when 'publications' -%} ScholarlyArticle
    {%- endcase -%}
  {%- endcapture -%}
{%- else -%}
  {%- assign sectionorarticle = 'section' -%}
{%- endif -%}

{%- unless schema -%}
  {%- assign schema = 'ListItem' -%}
{%- endunless -%}

{%- assign schematype = '"' | prepend: schema -%}
{%- assign schematype = schematype | prepend: 'itemscope
      itemtype="https://schema.org/' -%}

{%- assign type = include.type | default: 'list' -%}
{%- if type == 'list' -%}
<li>
{%- endif -%}

<div class="{{- type -}}__item">
  <{{- sectionorarticle }} class="archive__item" {{ schematype -}}>
{%- if doc.title and doc.title != blank -%}

    <h{{- level }} class="gh archive__item-title" itemprop="headline">

  {%- if doc.collection == 'posts' -%}
    {%- if page.lang == 'en' -%} {%- assign date_format = "%Y-%m-%d" -%}
    {%- else -%} {%- assign date_format = "%d/%m/%Y" -%}
    {%- endif -%}

    {%- if schema == 'BlogPosting' -%}
      <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="{{- site.author -}}"/>
        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
           <meta itemprop="url" content="{{- site.logo | absolute_url -}}" />
        </span>
      </span>
      {%- if doc.img -%}
        {%- assign imgfile = site.static_files | where:'name', doc.img | first -%}
        {%- if imgfile -%}
      <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{- imgfile.path | relative_url -}}"/>
      </span>
        {%- endif -%}
      {%- endif -%}
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="name" content="{{- doc.author | default: site.author -}}">
      </span>
    {%- endif -%}

      <span class="post-meta"><time datetime="{{- doc.date -}}" itemprop="datePublished">{{ doc.date | date: date_format }}</time></span>

  {%- endif -%}

      <a class="post-link" href="{{ doc.url | relative_url }}" rel="permalink">{{ doc.title }}</a>
    </h{{- level -}} >
{%- endif -%}

{%- case doc.collection -%}
  {%- when 'teaching' -%}

    <p> {{ doc.type }}, <i>{{ doc.venue }}</i>, {{ doc.date | default: "1900-01-01" | date: "%Y" }} </p>

  {%- when 'publications' %}
    {%- unless doc.citation -%}

    <p>
      {{- site.data.translations['publishedin'][doc.lang] | capitalize | escape }}
      <i>{{- doc.venue -}}</i>, {{ doc.date | default: "1900-01-01" | date: "%Y" -}}
    </p>

    {%- endunless -%}
  {%- when 'education' %}
    <p>
    {% if doc.institution -%}
      <span itemprop="alumniOf" itemscope
            itemtype="https://schema.org/{{doc.institution.schema}}">

      {%- if doc.institution.url %}
        <a href="{{doc.institution.url}}" rel="external" itemprop="url">
          <span itemprop="name">{{- doc.institution.name -}}</span>,
        </a>
      {%- elsif doc.institution.name %}
        <span itemprop="name">{{- doc.institution.name -}}</span>,
      {% endif %}
      </span>
    {% endif -%}

    {%- unless doc.period.start -%}
      {%- if doc.period.end -%}

        <span itemprop="startDate">{{- doc.period.end -}}</span>

      {%- endif -%}

      </span>

    {%- endunless -%}

    {%- if doc.period.start and doc.period.end -%}

      <span itemprop="startDate">{{doc.period.start}}</span>–<span itemprop="endDate">{{doc.period.end}}</span>

    {%- endif -%}

    {%- if doc.degree %}
      (<span itemprop="hasCredential" itemscope
             itemtype="https://schema.org/EducationalOccupationalCredential">{{doc.degree}}</span>)
    {%- endif -%}

    </p>

{%- endcase -%}

{%- if     doc.excerpt
       and doc.excerpt != blank
       and site.show_excerpts -%}

    <p class="archive__item-excerpt" itemprop="description">
      {{ doc.excerpt | markdownify }}
    </p>

{%- endif -%}

{%- if doc.dlname -%}
  {%- capture asseturl -%}
    {%- include asset-url.html assetname = doc.dlname -%}
  {%- endcapture -%}
  {%- if doc.citation -%}
    <p>
    {{- site.data.translations['suggestedcitation'][page.lang] | capitalize | escape }}
    {%- if page.lang == 'fr' -%}&nbsp;{%- endif -%}:
      {{ doc.citation-}}<br>
      <a href="{{- asseturl -}}">{{- asseturl -}}</a>
    </p>
  {%- else -%}
    <p>
    {{- site.data.translations['download'][page.lang] | capitalize | escape }}
      <a href="{{- asseturl -}}">
    {{- site.data.translations['here'][page.lang] | escape -}}
      </a>.
    </p>
  {%- endif -%}
{%- elsif doc.citation -%}
    <p>
  {{- doc.citation -}}
    </p>
{%- endif -%}

  </{{- sectionorarticle -}}>
</div>

{%- if type == 'list' -%}
</li>
{%- endif -%}
